.cont{
  width: 100%;
  background-color: black;
  color: white;
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.contato{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}
.wrapper{
  /* height: 300px; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
}

.icons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}
.iconCont{
  /* border: 1px solid white; */
  width: 300px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: .9rem;
}
.iconItem{
  font-size: 20px;
}
.divider{
  border-left: 1px solid white;
  height: 200px
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.form label{
  display: flex;
  flex-direction: column;
}
.form label input,
.form label textarea{
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  color: black;
}
.form label input:focus,
.form label textarea:focus{
  outline: none;
}
.name{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.form button{
  padding: 10px 40px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.iconCont a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {

  .wrapper{
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .name{
    display: flex;
    flex-direction: column;
  }
}