.cont{
  padding: 80px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid green; */
  gap: 15px;
  margin: 0 auto;
  max-width: 1140px;
  z-index: 5;
}
.leftBlock{
  /* border: 1px solid salmon; */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
 /* padding-left: 10px; */
 /* border: 1px solid red; */
 font-size: 2.8rem;
 font-weight: 700;
 line-height: 3.5rem; 
 max-width: 500px;
}
.cta{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  /* border: 1px solid red; */
}
.cta button{
  padding: 15px 25px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}
.how{
  font-size: 1.1rem;
  margin-left: 25px;
}
.link{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.link:hover{
  color: red;
  cursor: pointer;
}

.imgCont{
  /* margin-left: 50px; */
  margin-top: 20px;
}
.img{
  max-width: 400px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

@media screen and (max-width:768px) {
  .cont{
    padding: 30px 20px;
  }
  .imgCont{
    margin-left: 0px;
    margin-top: 0px;
  }
  .img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
  }
  .cta{
    gap: 5px;
  }
  .cta button{
    padding: 15px 20px;
  }
  .how{
    font-size: 1.1rem;
    margin-left: 15px;
  }
  
}