.cont{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px 20px;
  /* border: 1px solid red; */
}
.itemLabel{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* border: 1px solid rgb(63, 27, 63); */
  margin-top: 10px;
  padding: 0 5px;
  gap: 15px;
  border-radius: 3px;
}
.itemLabel p{
  margin: 0;
}
.itemCont{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin-top: 10px;
  padding: 0 5px;
  gap: 15px;
  border: 1px solid red;
}
.itemCont input{
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 4px;
  padding: 5px 0;
}
.imgCont{
  display: flex;
  align-items: center;
  gap: 5px;
}
.img{
  height: 48px;
}
.size{
  display: flex;
  align-items: center;
}
.price{
  display: flex;
  align-items: center;
  gap: 5px;
}
.ellipsisCont{
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid purple; */
}

.modal{
  position: absolute;
  left: -200px;
  top: 0;
  width: 160px;
  background-color: white;
  z-index: 500;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.modalContentWrapper{
  margin-top: 30px;
  padding: 5px;
  padding-left: 10px;
  position: relative;
}

.modalBtn{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 5px;
  border: none;
}
.edit{
  display: flex;
  align-items: center;
  justify-content: flex;
  width: 90px;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  /* margin-top: 20px; */
}

@media screen and (max-width: 768px) {
  .size{
    display: flex;
    justify-content: center;
  
  }
  .price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
}