
html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  /* background: #bfbfbf; */
  background: #ffffff;
  /* border: 1px solid white; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  /* padding: 0 20px; */
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  min-height: 100vh;
  color: #1f2937;
  height: 3000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btnLink{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: .9rem;
}

@media screen and (max-width: 768px) {
  /* body{
    padding: 0 5px;
  } */
}