.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}
.body{
  /* border: 1px solid red; */
  margin-bottom: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}